
/* header */
header {
 /* background-color: #55ccab;*/
 background-color: #192f60;
  color: #fff;
  font-size: 18px;
  font-family: cursive;
  font-style: italic;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.fixed{
  position: fixed;
  width: 100%;
  margin-top:-70px;
}

#margin-for-fixed{
  margin-top:70px;
}

.icon {
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-size:27px;
  font-style: italic;


}

.icon img {
  height: 50px;
  margin-right:20px;
  margin-bottom:5px;
  margin-top: 5px;
}
.icon .name strong{
  color: #54917f;
}

.header-right {
  display: flex;
  align-items: center;
  font-family: tahoma;
  margin-right: 70px;
}

.header-right li:first-child{
  margin-right: 20px;
}



/* ハンバーガーメニュー */
.hamburger {
  display: none;
  width: 28px;
  align-self: center;
  margin-right: 20px;
}

.hamburger span:after,
.hamburger span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.hamburger span:after{
  top: 9px;
}

.hamburger span {
  position: relative;
  display: block;
}

.hamburger span,
.hamburger span:after,
.hamburger span:before {
  width: 100%;
  height: 5px;
  background-color: #fff;
  transition: all 0.5s;    /*←アニメーション*/
  backface-visibility: hidden;
  border-radius: 2px;
}

.hamburger.on span {
  background-color: transparent;
}

.hamburger.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
/* ハンバーガーメニューここまで */


/*ハンバーガーメニュー*/


/*.menu-trigger.active {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.menu-trigger.active span:nth-of-type(3) {
  opacity: 0;
}
*/


/* ドロワー */
#drower-bg {
  display: none; /* 後でnoneにする */
  position: fixed;
  top: 70px;
  right: -200;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
}

.drower {
  position: absolute;
  top: 70px;
  height: 100vh;
  width: 200px;
  background-color: rgba(8, 8, 8, .5);
  right: 0;
}

.drower.on {
  right: 0;
  transition-duration: 600ms;
}





/* ------- header ここまで ------ */

/* welcome */
.welcome {
  height: 500px;
  background-image: url(../img/airplane4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*写真のリピートを抑え、画面の幅に合わせて変更される*/
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: none;
  margin-bottom: 50px;

}
.rgba{ 
  background-color:rgba(255,255,255,.6)

}

.title{
  font-size: 45px;
  font-family: Tahoma;
  color:#192f60;
  margin-top: 80px;
}

.guideline{
  font-size: 28px;
  font-weight: bold;
  margin-top:85px;
}

.guideline li{
  margin-top: 10px;
  margin-right:30px;
  display: flex;
  color:#4682b4;
  font-style: italic;
  /*font-family: Tahoma;*/
  justify-content:flex-end;
}
.guideline li strong{
  font-weight: bolder;
}
.btn-group{
  margin-top: 100px;
  margin-bottom: 50px;
}

.btn {
  height: 60px;
  width: 240px;
  color: #fff;
  border-radius: 10px;
  font-size: 28px;
  cursor: pointer;
  margin-left: 120px;
}

.btn:first-child{
  margin-left: 0;
}

.individual{
  background-color: rgba(29,172,224, .5);
  border: 3px solid rgba(29,172,224, .3);

}

.individual:hover{
  background-color: rgb(29,172,224);
}

.package{
  background-color: rgba(236,227,35, .6);
  border: 3px solid rgba(236,227,35, .4);
}

.package:hover{
  background-color: rgb(236,227,35);
}
/* welcome ここまで*/

/* destination */
.destination{
  margin-top: 150px;
  margin-bottom: 50px;
}

.subtitle{
  font-size:36px;
  color:#192f60;
  text-align: center;
}
/*.subtitle:last-child{
  margin-top: 50px;
}*/

.img-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.img-box li {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 40px;
}

.img-box li:last-child{
  margin-right: 0;
}

.img-box li img {
  height: 110px;
  width: 170px;
}

.img-box li span{
  font-size: 24px;
  margin-top: 20px;
}

/* contact */
.contact {
  text-align: center;
  background-color: #ebf4f5;
  margin-top: 50px;
  padding-top: 45px;
  height: 500px;
}
    /*form*/

.label{
  width: 120px;
  margin-right:80px;

}

.form-group-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.form-group-center input{
 /* display: flex;
  justify-content: space-between;*/
  margin: 10px;
  width:260px;
  margin-top: 17px;

}

.input-field{
  width:550px;
  height:40px;
  line-height: 40px;
  box-sizing: border-box;
  font-size: 13px;
  margin-top:17px;

}

textarea{
  resize:vertical;
  width:550px;
  min-height: 80px;
  max-height: 150px;
}

.button{
  background-color: #009cd3;
  color:#fff;
  font-size: 20px;
  width:100px;
  height:35px;
  border-radius: 5px;
  border:3px solid #009cd3;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  /*デフォルトなので書いても書かなくても変わらないが、
  絶対に真ん中にしたいよの意思表示みたいな*/
  
}
/*Footerここから*/
footer {
 /* background-color: #55ccab;*/
 background-color: #192f60;
  color: #fff;
  font-size: 18px;
  font-family: cursive;
  padding: 5px 0;
  height: 55px;
  display: flex;
  justify-content: space-between;
}
.footer{
  color: #fff;
  font-size: 18px;
  font-family: Tahoma;
  margin:10px;
  text-align: right;
 
}
/*Footerここまで*/

/*-------------responsive design----------*/
/*smartphone ここからーーーー-----*/
@media screen and (max-width: 480px){
  body{
    min-width:350px;
  }
 
 .hamburger {
    display: block;
}

 #drower-bg {
  display: block;
}
/*.fixed{
position: fixed;
width: 100%;
margin-top:-70px;*/
/*headerを固定したので、headerの幅の分下げた*/
/*　ここまでは上のヘッダーのリマインダー*/

 /*header*/

.fixed{
  display: flex;
  justify-content: space-around;
  padding-bottom: none;
}

.icon{
margin-left:10px;
font-size:100%; 
height:70px;


}
.icon .name{
  flex-wrap: wrap;
  width:50px;
}
.icon img{
display:none;
}
.header-right{
  display:none;
  font-size:90%;
  margin-right:10px;
}
.header-right li{
  display: flex;
  justify-content: space-around;
}
.header-right li:first-child{
  margin-right: 20px;
}

#drower-bg {
  display: block;
}

/*main ここから---------------*/
.welcome{
  background-position:left;
  /*height:100%;
  width:100%;*/
}
.rgba{ 
  background-color:rgba(255,255,255,.8)
}
.title{
  font-size:30px;
} 
.guideline{
  font-size:20px;
  /*align-items: left;*/
  margin-top:80px;
  margin-bottom: 35px;

}
.guideline li{
  display: flex;
  flex-direction: column;
  margin-right:0;
  color: #0075c2;
}

.btn-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:30px;
  margin-bottom:15px;
}
.btn{
  height:50px;
  width:150px;
  margin-left:0;
  margin:13px 0;
  font-size:20px;
}
.package{
  background-color: rgba(236,227,35, .7);
  border: 3px solid rgba(236,227,35, .9);
}


/*destination------------*/
.Destination .subtitle{
  font-size:27px;
  
}
.img-box{
  flex-wrap: wrap;
}

.img-box li{
  margin-right:0;
}

.img-box li img{
  height:150px;
  width: 240px;
}

.img-box li span{
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}






/*contact-------------------*/


.form-group-top .form-group-center .form-group-bottom{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-field{
  width:230px;
  height:40px;
}

.form-group-center input{
  width:230px;
}


textarea{
  max-height: 100px;
}
  



/*footer*/
.footer {
  margin-left: auto;
  margin-right: auto;
  font-size: 80%;
}

.footer p{
  text-align:center; 
  }
}




}











