* {
	margin: 0;
	padding: 0;
	color: /*#232b2b*/ /*#e6bfb2*/ /*#e17b34*/ #622d18;
	font-family:palatino, YuKyokasho Yoko;
}
/*.wrap {
	width:100%;
}*/
ul {
	list-style: none;
}
body {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.head_color{
	width:100%;
	height:60px;
	background-color:#eae8e1;
	display: flex;

	

}

.strip{
   transform: rotate( 90deg );
   display:repeat;
   margin:0;
}
aside{
	height:200%;
	background-color:/*#008db7 */#c49a6a;
	position:relative;/
	width: 15%;
	
}

aside .left{
	float:left;
	
}

aside .right{
	float:right;
	
}

main{
	float:left;
	display: flex;
	justify-content: center;
	position: relative;
	background-color: /*#fce4d6*/#e8d3ca;
	height: 200%;
	width:70%;
}
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	width: 70%;
}

h1 {
	text-align: center;
}
	
h1 .title{
	font-family:cursive;
	font-size: 90px;
	/*color: #98605e;*/
}
h2{
	margin-top:100px;
}

form {
	width: 100%;
	height: 36px;
	display: flex;
	margin: 30px auto 20px;
}
input[type="text"] {
	width: 75%;
	padding: 3px 7px;
	border: 1px solid /*#232b2b*/ #d4d9df;;
	border-radius: 3px 0 0 3px;
}
#btn {
	width: 25%;
	padding: 5px;
	background-color: #093d86 /*#043c78*/;
	color: white;
	border: none;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}

.todo-list {
	width: 100%;
	border-radius: 3px;
}
.done-list {
	width: 100%;
	border-radius: 3px;
}


/* 追加されるリストアイテムのCSS */
li {
	height: 35px;
	border: 1px solid rgba(187, 187, 187,.0);
	border-bottom: none;
	padding: 5px 11px;
	display: flex;
	align-items: center;
	/* ボタンが追加された時、タスクの内容とボタンを左右に配置 */
	justify-content: space-between;
}
/* 最後のli要素のみ、border-bottomがある */
li:last-child {
	border-bottom: 1px solid rgba(187, 187, 187 ,.0);
}
/* 追加されるリストアイテムのDeleteボタン */
.delete {
	font-size: 12px;
	color: rgb(202, 20, 20);
	cursor: pointer;
}
.star{
	font-size:20px;
	color:/*#fff352*/#5f6527;
	cursor: pointer;
}
